<footer>
  <div class="d-flex flex-column container-footer">
    <div class="d-flex align-items-center justify-content-center w-100 container-text">
      <i class="fa-solid fa-circle me-3" style="color: #f6c000; font-size: 10px;"></i>
      <span class="contact-text">Entre em contato</span>
      <i class="fa-solid fa-circle ms-3" style="color: #f6c000; font-size: 10px;"></i>
    </div>
    <div class="container-cards">
      <div class="col-lg-4 email d-flex flex-column align-items-center justify-content-center me-5">
        <img src="../images/email.png">
        <span>Email</span>
        <p>contato@balitech.com.br</p>
      </div>
      <div class="col-lg-4 phone d-flex flex-column align-items-center justify-content-center ms-5">
        <img src="../images/phone.png">
        <span>Telefone</span>
        <p>+55 12 99999 9999</p>
      </div>
    </div>
  </div>
  <img src="../images/footer_img.png" class="footer-img">
  <span class="copyright w-100">Bali Tech -  © Todos os direitos reservados. 2024</span>
</footer>