<!-- <navbar id="navbar" class="d-flex align-items-center py-3 justify-content-between">
  <div id="navbar-left" class="d-flex align-items-center">
    <span id="span-logo-img" class="me-2">
      <img src="../images/logo.png">
    </span>
    <span id="span-logo-font">
      BALI TECH
    </span>
  </div>
  <div id="navbar-right" class="d-flex align-items-center">
    <ul class="d-flex list-unstyled align-items-center m-0">
      <li class="start mx-3">
        <a href="" class="link-navbar">Início</a>
      </li>
      <li class="partners mx-3">
        <a href="" class="link-navbar">Parceiros</a>
      </li>
      <li class="solutions mx-3">
        <a href="" class="link-navbar">Soluções</a>
      </li>
      <li class="about mx-3">
        <a href="" class="link-navbar">Sobre Nós</a>
      </li>
      <li class="contact mx-3">
        <a href="" class="contato-link-navbar">Contato</a>
      </li>
    </ul>
  </div>
</navbar>   -->

<nav id="navbar" class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <div id="navbar-left" class="d-flex align-items-center">
      <span id="span-logo-img" class="me-2">
        <img src="../images/logo.png">
      </span>
      <span id="span-logo-font">
        BALI TECH
      </span>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-right align-items-center justify-content-end links-list" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="start mx-3">
          <a href="" class="link-navbar">Início</a>
        </li>
        <li class="partners mx-3">
          <a href="" class="link-navbar">Sobre Nós</a>
        </li>
        <li class="solutions mx-3">
          <a href="" class="link-navbar">Parceiros</a>
        </li>
        <li class="about mx-3">
          <a href="" class="link-navbar">Soluções</a>
        </li>
        <li class="contact mx-3">
          <a href="" class="contato-link-navbar">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>