#sobre {
  width: 100%;
  min-height: 850px;
  position: relative;
  display: flex;
}

#sobre .container-img {
  width: 50%;
  position: absolute;
  left: 5%;
  top: 300px;
}

#sobre .container-text {
  position: absolute;
  right: 15%;
  top: 385px;
}

.container-about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.container-about .about-text {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: var(--purple-color-font);
}

.mission span, .vision span{
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: var(--grey-logo-font)
}

.mission p, .vision p{
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #636B78;
}

@media (max-width: 1366px) {
  .container-img img {
    width: 100%;
  }
  #sobre .container-text {
    right: 8%;
    top: 315px;
    width: 35%;
  }
}

@media (max-width: 1024px) {
  #sobre .container-img {
    top: 400px;
  }
  .container-img img {
    width: 100%;
  }
  #sobre .container-text {
    right: 4%;
    top: 390px;
  }
  .mission span, .vision span {
    font-size: 26px;
  }
  .mission p, .vision p {
    font-size: 14px;
  }
}

@media (max-width: 540px) {
  #sobre .container-img {
    width: 100%;
    left: 0;
    top: 530px;
  }
  #sobre .container-text {
    right: 0;
    top: 780px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .mission, .vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 16px;
  }
}