:root {
  --main-bg-color: white;
  --purple-color: #532298;
  --grey-color: #5F5F5F;
  --yellow-color: #f6c000;
  --beige-color: #F1F0F0;

  --yellow-color-font: #f6c000;
  --purple-color-font: #5E17EB;
  --white-color-font: #FFFFFF;
  --grey-logo-font: #333333;
}