@import "colors.css";

.inter-span-header {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-h1 {
  font-size: 100px;
  font-weight: 500;
  color: var(--purple-color);
}

.inter-h4 {
  font-size: 50px;
  font-weight: 500;
  color: var(--purple-color);
}

.inter-span-section {
  font-size: 18px;
  font-weight: bold;
  color: var(--grey-color);
  font-family: "poppins", sans-serif;
}

.elipse-img {
  position: absolute;
  width: 675px;
  left: 0;
}

.vector-img {
  position: absolute;
  width: 800px;
  right: 12%;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}

footer {
  height: 300px;
  background-color: var(--purple-color);
}

footer .info-contato {
  font-size: 22px;
  font-weight: semibold;
  color: var(--main-bg-color);
  font-family: "poppins", sans-serif;
}

footer hr {
  width: 300px;
  height: 3px !important;
  background-color: var(--yellow-color);
  opacity: 1;
}

footer .span-location, footer a {
  color: var(--main-bg-color);
  font-family: "LeagueSpartan", sans-serif;
  font-weight: medium;
  font-size: 17px;
  text-decoration: none;
}

footer .left-footer {
  position: absolute;
  bottom: 25%;
  left: 15%;
}

footer .left-footer ul {
  margin: 0;
  padding: 0;
}

footer .right-footer {
  color: var(--main-bg-color);
  font-family: "LeagueSpartan", sans-serif;
  font-weight: medium;
  font-size: 17px;
  position: absolute;
  bottom: 25%;
  right: 15%;
}

footer a:hover {
  color: var(--yellow-color);
}
