.partner-selector {
  position: absolute;
  top: 210px;
}

/* DELL */

.dell.partner-selector {
  left: 45px;
}

#dell:hover {
  content: url('../images/partners/color/dell.svg');
}

/* LENOVO */

.lenovo.partner-selector {
  left: 190px;
}

#lenovo:hover {
  content: url('../images/partners/color/lenovo.png');
}

/* CISCO */

.cisco.partner-selector {
  left: 335px;
}

#cisco:hover {
  content: url('../images/partners/color/cisco.svg');
}

/* FORTINET */

.fortinet.partner-selector {
  left: 495px;
}

#fortinet:hover {
  content: url('../images/partners/color/fortinet.svg');
}

/* NUTANIX */

.nutanix.partner-selector {
  left: 645px;
}

#nutanix:hover {
  content: url('../images/partners/color/nutanix.svg');
}

/* AWS */

.aws.partner-selector {
  left: 785px;
}

#aws:hover {
  content: url('../images/partners/color/aws.svg');
}

/* MICROSOFT */

.microsoft.partner-selector {
  left: 905px;
}

#microsoft:hover {
  content: url('../images/partners/color/microsoft.svg');
}

/* HPE */

.hpe.partner-selector {
  left: 1045px;
}

#hpe:hover {
  content: url('../images/partners/color/hpe.svg');
}

#more:hover {
  content: url('../images/partners/color/more.svg');
}

@media (max-width: 1366px){
  .partner-selector {
    top: 146px;
  }

  .dell.partner-selector {
    left: 85px;
  }
  .lenovo.partner-selector {
    left: 190px;
  }
  .cisco.partner-selector {
    left: 300px;
  }
  .fortinet.partner-selector {
    left: 410px;
  }
  .nutanix.partner-selector {
    left: 520px;
  }
  .aws.partner-selector {
    left: 630px;
  }
  .microsoft.partner-selector {
    left: 740px;
  }
  .hpe.partner-selector {
    left: 855px;
  }
}

@media (max-width: 1024px){
  .partner-selector {
    top: 146px;
  }

  .dell.partner-selector {
    left: 40px;
  }
  .lenovo.partner-selector {
    left: 150px;
  }
  .cisco.partner-selector {
    left: 260px;
  }
  .fortinet.partner-selector {
    left: 370px;
  }
  .nutanix.partner-selector {
    left: 480px;
  }
  .aws.partner-selector {
    left: 590px;
  }
  .microsoft.partner-selector {
    left: 700px;
  }
  .hpe.partner-selector {
    left: 810px;
  }
}